* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    margin-inline: 100px;
}

main {
}

header {
}

header h1 {
}

#felsonav ul {
}

#felsonav ul li {
}

#felsonav ul li a {
}

header p {
}

#alsonav ul {
}

#alsonav ul li {
}

#alsonav ul li a {
}

.fo_tartalom {
}
